body {
    margin: 0;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: 20px;
    color: rgba(0, 251, 255, 0.858);
    background-color: black;
    /* background-color: black; */
}

nav {
    font-family: 'Bungee', sans-serif;
    background-color: black;
    width: 100vw;
    display: inline-block;
}

/* img.logo {
    /* float: left; */
    /* width: 175px;
    height: 75px;
} */

nav ul.nav-ul {
    float: right;
    margin: 0;
    list-style-type: none;
    padding-right: 20px;
    
}
nav ul li {
    float: float;
    margin: 0;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    background-color: rgba(170, 209, 236, 0.575);
    border: 2px solid rgb(170, 209, 236, 0.575);
    border-radius: 5px;
    list-style-type: none;
    padding: 20px;
    margin-top: 25px;
}

.app-name-div h4{
    /* display: inline-block; */
    text-align: center;
    float: left;
    margin-left: 25px;
    background-color: rgba(170, 209, 236, 0.575);
    border: 2px solid rgb(170, 209, 236, 0.575);
    border-radius: 5px;
    padding: 20px;
    /* padding: 14px 16px; */
}
.nav-bar-div{ 
    display: inline-block;
    float: right;
    background: black;
}
.container {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.main-display{
    background-color: black;
    padding: 10px;
    border: 10px solid lightpink;
    border-radius: 20px;
    overflow: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0px 10px;
}
.single-game-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow-y: auto;
}
.single-game{
    grid-area: 1 / 1 / 2 / 2;
}
.single-game-add{
    grid-area: 2 / 1 / 3 / 2;
}
.single-game-badges{
    grid-area: 1 / 2 / 2 / 3;
}
.single-game-reviews{
    grid-area: 2 / 2 / 3 / 3;
}
.single-game-badge-list{
    overflow-y: hidden;
    overflow-x: auto;
}
.single-badge-div{
    display: inline-block;
}
.user-info{
    display: grid;
    background-color: black;
    padding: 10px;
    border: 10px solid lightpink;
    border-radius: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    padding: 0px 10px;
    /* overflow: auto; */
}
.signup-form{
    margin: auto;
    justify-content: center;
    text-align: center;
}
.user-page-info{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
/* .game-info-div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
} */
.user-info-div{
    grid-area: 1 / 1 / 2 / 2;
}
.user-friendship-info{
    grid-area: 2 / 1 / 3 / 2;
}
.user-game-list{
    grid-area: 1 / 1 / 2 / 2;
    overflow: auto; 
}
.user-badge-list{
    grid-area: 2 / 1 / 3 / 2;
    overflow: auto; 
}
.user-page-info > h1 {
    margin: 0;
}
.user-page-info > h2 {
    margin: 0;
}
.user-page-info > h3 {
    margin: 0;
}
.user-page-info > h4 {
    margin: 0;
}
.image-div > img{
    height: 100%;
    width: 100%;
}
.single-badge-div{
    display: flexbox;
    justify-content: center;
    text-align: center;
}
.single-badge-display {
    align-items: center;
    padding-top: 20%;
}
.user-show-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.user-show-info-div{
    grid-area: 1 / 1 / 2 / 2;
}
.user-following{
    grid-area: 2 / 1 / 3 / 2;
}
.user-game-list{
    grid-area: 1 / 2 / 2 / 3;
}
.user-badge-list{
    grid-area: 2 / 2 / 3 / 3;
}
h1#name{
    margin: 0px;
}
h2#email{
    margin: 0px;
}
h2#username{
    margin: 0px;
}
h3#age{
    margin: 0px;
}
h3#location{
    margin: 0px;
}
h4#status{
    margin: 0px;
}