body {
    margin: 0;
    /* background-color: black; */
}

nav {
    background-color: white;
    width: auto
}

img.logo {
    /* float: left; */
    width: 175px;
    height: 75px;
}

nav ul {
    float: right;
    margin: 0;
    list-style-type: none;
    padding-right: 20px;
}
nav li {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    background-color: rgba(170, 209, 236, 0.575);
    border: 2px solid rgb(170, 209, 236, 0.575);
    border-radius: 5px;
    padding: 20px;
}
.container {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.main-display{
    background-color: lightpink;
    padding: 10px;
    border: 15px solid black;
    border-radius: 20px;
    overflow: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.user-info{
    display: grid;
    background-color: lightpink;
    padding: 10px;
    border: 15px solid black;
    border-radius: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    overflow: auto;
}
.signup-form{
    margin: auto;
    justify-content: center;
    text-align: center;
}
.user-page-info{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.game-info-div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.user-info-div{
    grid-area: 1 / 1 / 2 / 2;
}
.user-friendship-info{
    grid-area: 2 / 1 / 3 / 2;
}
.user-game-list{
    grid-area: 1 / 1 / 2 / 2;
}
.user-badge-list{
    grid-area: 2 / 1 / 3 / 2;
}
.user-page-info > h1 {
    margin: 0;
}
.user-page-info > h2 {
    margin: 0;
}
.user-page-info > h3 {
    margin: 0;
}
.user-page-info > h4 {
    margin: 0;
}
.image-div > img{
    height: 100%;
    width: 100%;
}